<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.poli2024.geopoli">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/> <!-- Agregar este permiso -->


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.geoPoli"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AQUI INGRESA TUS CREDENCIALES DE LA API DE GOOGLE" />
        <activity
            android:name="com.poli2024.geopoli.MapsScreen"
            android:exported="false" />
        <activity
            android:name="com.poli2024.geopoli.ResetPasword"
            android:exported="false" />


        <service
            android:name="com.poli2024.geopoli.ServicioMaps"
            android:exported="false" />

        <activity
            android:name="com.poli2024.geopoli.LocationScreen"
            android:exported="false" />
        <activity
            android:name="com.poli2024.geopoli.RegisterUser"
            android:exported="false" />
        <activity
            android:name="com.poli2024.geopoli.LoginScreen"
            android:exported="false" />
        <activity
            android:name="com.poli2024.geopoli.UsersScreen"
            android:exported="false" />
        <activity
            android:name="com.poli2024.geopoli.TerrenosHistorial"
            android:exported="false" />
        <activity
            android:name="com.poli2024.geopoli.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>